{% include 'head.html' %}
    
    <div class="row">
        <div class="six columns centered card">
            <section class="edit-profile">
                
                <form action="" method="post" class="change-password-form">
                    <div class="warnings"></div>
                    <div class="append field">
                        <input class="input" type="password" placeholder="Current Password" name="current_password" />
                        <span class="adjoined"><i class="fa fa-lock"></i></span>
                    </div>
                    <div class="append field">
                        <input class="input" type="password" placeholder="New Password" name="new_password" />
                        <span class="adjoined"><i class="fa fa-lock"></i></span>
                    </div>
                    <div class="append field">
                        <input class="input" type="password" placeholder="Repeat New Password" name="repeat_new_password" />
                        <span class="adjoined"><i class="fa fa-lock"></i></span>
                    </div>
                    
                    <div style="text-align: center;" class="options">
                        <a href="#" id="submit">
                            <span class="icon-check" style="font-size: 30px;"></span>
                        </a>
                    </div>
                </form>
                        
            </section>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            $(document).on('click', 'a#submit', function(e) {
                e.preventDefault();
                $('form').append('<input type="hidden" name="edit" value="1" />');
                $('form').submit();
            });
        });
    </script>
    
{% include 'foot.html' %}