{% include 'head.html' %}
    
    <div class="row">
        <div class="six columns centered card">
            <form action="" method="post">
                <input type="hidden" value="12" name="timesheetId" id="timesheetId" post-url={{ resolvePath("addsheet") }}>
                <input type="hidden" name="projectId" value="">
                <section class="add-timesheet">
                    
                    <div class="title">
                        <h5>{{ items.title }}</h5>
                    </div>
                    
                        <div class="warnings"></div>
                        <!--<div class="project" style="text-align: center;">
                            <div class="picker">
                                <select name="project">
                                    <option value="project a">Project a</option>
                                    <option value="project b">Project b</option>
                                    <option value="project c">Project c</option>
                                    <option value="project d">Project d</option>
                                </select>
                              </div>
                        </div>-->
                        
                        <table class="summary">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="clickable" href={{ resolvePath("addsheet") }} >
                                    <td>Task a</td>
                                    <td>12:43</td>
                                </tr>
                                <tr class="clickable" href={{ resolvePath("addsheet") }} >
                                    <td>Task b</td>
                                    <td>09:03</td>
                                </tr>
                                <tr class="clickable" href={{ resolvePath("addsheet") }} >
                                    <td>Task c</td>
                                    <td>18:20</td>
                                </tr>
                            </tbody>
                        </table>
                        
                </section>
            </form>
            
            <!--<div class="tasks">
                
                {% if items.edit == true %}
                
                    
                
                {% endif %}
                
            </div>-->
            
            <!--<div class="submit" style="text-align: center; padding: 20px 0;">
                
                {% if items.edit != true %}
                    <div class="medium primary btn">
                        <a id="save-sheet" href="#" >Submit</a>
                    </div>
                    
                    <div class="medium secondary btn">
                        <a href="#" >Save Draft</a>
                    </div>
                
                {% else %}
                
                <div class="medium primary btn">
                    <a id="save-sheet" href="#" >Save Changes</a>
                </div>
                
                {% endif %}
                
            </div>-->
        </div>
    </div>
    
    <script src={{ resolvePath("native5.core.js") }} ></script>
    <script src={{ resolvePath("addsheet.js") }} ></script>
    
    <!--{% if items.edit == true %}
    <script>
        $(document).ready(function() {
            $( "input, select, textarea" ).change(function() {
                $(this).closest('section.task').attr("new", "true");
            });
        });
    </script>
    {% endif %}-->
    
{% include 'foot.html' %}