{% include 'head.html' %}
{% include 'header.html' %}
    <div id="page-wrap">
    
    <!--    Must set value of checkboxes to the userids -->
    <!--    Keep project id hidden here -->
    <div class="row">
        <div class="six columns centered card">
            <h5 class="left-padding" style="padding-top: 20px;">You have selected : </h5>
            
            <section class="list" id="selected-users">
                <ul class="empty-list">
                    
                </ul>
            </section>
            
            <h5 class="left-padding">Search Results : </h5>
            
            <section class="list" id="search-results">
                <ul class="empty-list">
                    
                </ul>
            </section>
            
            
            <div class="submit" style="margin: 1rem 0; text-align: center;">
                <div class="medium primary btn"><a href={{ "project\\add_users" | nonce }} id="add_users">Add Users</a></div>
            </div>
        </div>
    </div>
    
    <script src={{ resolvePath("native5.core.js") }} ></script>
    <script src={{ resolvePath("native5.notifications.js") }} ></script>
    <script src={{ resolvePath("smart-list.js") }} ></script>
    <script src={{ resolvePath("addUsersToProject.js") }} ></script>
    
    <script>
        $(document).ready(function() {
            var headerHandler = function(data) {
                $('#header > .wrapper').append(data.message.header_options);
            };
            
            var headerLoader = app.construct({
                path : 'timesheet',
                method : 'POST',
                url : 'headerdata',
                successHandler : headerHandler
            });
            
            headerLoader.serviceObject.invoke({for: 'project/add_users'});
        });
    </script>
    
{% include 'foot.html' %}