{% include 'head.html' %}
    
    <!--    Must set value of checkboxes to the userids -->
    <!--    Keep project id hidden here -->
    <div class="row">
        <div class="six columns centered card">
            
            <div class="warnings" style="margin-top: 20px;">
                
            </div>
            <input type="hidden" name="project_id" id="project_id" value="{{ items.project_id }}">
            <h5 class="left-padding" style="padding-top: 20px;">You have selected : </h5>
            
            <section class="list" id="selected-users">
                <ul class="empty-list">
                    
                </ul>
            </section>
            
            <h5 class="left-padding">Search Results : </h5>
            
            <section class="list" id="search-results">
                <ul class="empty-list">
                    
                </ul>
            </section>
            
            
            <div class="submit" style="margin: 1rem 0; text-align: center;">
                <div class="medium primary btn"><a href={{ resolvePath("project\\add_users") }} id="add_users">Add Users</a></div>
            </div>
        </div>
    </div>
    
    <script src={{ resolvePath("native5.core.js") }} ></script>
    <script src={{ resolvePath("smart-list.js") }} ></script>
    <script src={{ resolvePath("addUsersToProject.js") }} ></script>
    
{% include 'foot.html' %}