{% include 'head.html' %}
    
    <div class="row">
        <div class="eight columns centered">
            <section class="new-project">
                
                <div class="title">
                    <h5>{{ items.title }}</h5>
                </div>
                <form action="" method="post" class="timesheet-form">
                    {% if items.edit == true %}
                        <input type="hidden" value={{ items.project.projectId }} name="project_id" />
                    {% endif %}
                    <div class="warnings">
                        {% if items.message.success %}
                            <p class="alert success">{{ items.message.success }}</p>
                        {% elseif items.message.fail %}
                            {% for fail in items.message.fail %}
                                <p class="alert warning">{{ fail }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="append field">
                        <input class="input" type="text" placeholder="Project Name" name="project_name" 
                               {% if items.edit == true %}
                                   value="{{ items.project.projectName }}"
                               {% endif %}
                        />
                        <span class="adjoined"><i class="fa fa-file"></i></span>
                    </div>
                    <div class="field">
                        <label class="medium" for="end_date"><i class="fa fa-clock-o"></i>&nbsp;Deadline : </label>
                        <input name="deadline" type="datetime-local" 
                            {% if items.edit == true %}
                               value="{{ items.project.projectTimeAlloted }}"
                            {% endif %}
                        >
                    </div>
                    <div class="append field">
                        <input class="input" type="text" placeholder="Salary" name="salary" 
                            {% if items.edit == true %}
                               value="{{ items.project.projectSalary }}"
                            {% endif %} 
                        />
                        <span class="adjoined"><i class="fa fa-money"></i></span>
                    </div>
                    <div class="field">
                        <textarea class="input textarea" placeholder="Description" name="description">{% if items.edit == true %}{{ items.project.projectDescription }}{% endif %}</textarea>
                    </div>
                </form>
                
            </section>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            $(document).on('click', 'div#save-form', function(e) {
                e.preventDefault();
                $('form').append('<input type="hidden" name="{% if items.edit == true %}edit{% else %}new{% endif %}" value="1">');
                $('form').submit();
            });
        });
    </script>

{% include 'foot.html' %}