{% include 'head.html' %}
{% include 'header.html' %}
    <div id="page-wrap">
    
    <div class="row">
        <div class="six columns centered card">
            <section class="edit-profile">
                
                <form action="" method="post" enctype="multipart/form-data" class="edit-profile-form">
                    <div class="warnings">
                        
                    </div>
                    
                    
                    <div class="display-picture">
                        <img src="" alt="" class="image">
                    </div>
                    <div class="file" style="text-align: center; margin: 1rem 0;">
                        <input type="file" size="1000" name="user_image" value="">   
                    </div>
                    
                    
                    <div class="append field">
                        <input class="input" type="text" placeholder="First Name" name="first_name" id="firstname" value=""/>
                        <span class="adjoined"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="append field">
                        <input class="input" type="text" placeholder="Last Name" name="last_name" id="lastname" value=""/>
                        <span class="adjoined"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="field append">
                        <input class="input first-child" type="text" placeholder="Phone Number" name="phone_number" id="phonenumber"/>
                        <span class="adjoined"><i class="fa fa-phone"></i></span>
                    </div>
                    <div class="field append">
                        <input class="input first-child" type="text" placeholder="Location" name="location" id="location"/>
                        <span class="adjoined"><i class="fa fa-map-marker"></i></span>
                    </div>
                </form>
                <div style="text-align: center; margin-bottom: 10px;">
                    <div class="medium primary btn"><a href="#" id="save-changes"><i class="fa fa-save"></i>&nbsp;Save Changes</a></div>
                </div> 
                         
            </section>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            
            var successHandler = function(data) {
                console.log(data);
                
            };
            
            var communicator = app.construct({
                path : 'timesheet',
                method : 'POST',
                url : 'profile/edit_profile_data',
                successHandler : successHandler
            });
            
            $(document).hammer().on('tap', '#save-changes', function(e) {
                e.preventDefault();
                console.log($('form').serialize());
            });
        });
    </script>

{% include 'foot.html' %}