
    </div>
    
    <div id="sidebar" style="z-index: -2;">
        <div class="nav-wrapper">
            <div class="user">
                <table border="0">
                    <tr>
                        <td class="user-image">
                            <img class="image" src={{ resolvePath("pic.jpg") }} alt="">
                        </td>
                        <td class="user-details">
                            <h5>John Doe</h5>
                            <p>johndoe@gmail.com</p>
                        </td>
                    </tr>
                </table>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#" class="page-link"><i class="fa fa-repeat"></i>Overview</a>
                    </li><li><a href="#" class="page-link"><i class="fa fa-edit"></i>Projects</a>
                    </li><li><a href="#" class="page-link"><i class="fa fa-plus"></i>Add Entry</a>
                    </li><li><a href="#" class="page-link"><i class="fa fa-puzzle-piece"></i>Timesheets</a>
                    </li><li><a href="#" class="page-link"><i class="fa fa-user"></i>Profile</a>
                    </li><li><a href="#" class="page-link"><i class="fa fa-sign-out"></i>Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
  </body>
</html>
