<div id="header" style="height: 68px;">
        <div class="wrapper">
            <div class="header-item">
                
                <div class="item">
                    <i class="fa fa-angle-left" id="back"></i>
                </div>
                <div class="item logo">
                    &nbsp;<img src={{ resolvePath("timesheet-logo.png") }} width="35" alt="">
                </div>
                <div class="item title">
                    <h5>&nbsp;<span id="headertitle"></span></h5>
                    <p class="very-small">&nbsp;&nbsp;<span class="headeremail"></span></p>
                </div>
            </div>
            
           
        </div>
    </div>
