
{% include 'head.html' %}
    
    <div class="row">
        <div class="eight columns centered">
            <section class="new-task">
                
                <form action="" method="post">
                    <input type="hidden" value="">
                    <div class="title">
                        <h5>{{ items.title }}</h5>
                    </div>
                    <div class="field append">
                        <input class="input" type="text" placeholder="Task Name" name="task" 
                        {% if items.edit == true %} 
                            value={{ items.task.taskName }}
                        {% endif %}/>
                        <span class="adjoined"><i class="fa fa-map-marker"></i></span>
                    </div>
                    
                    <div class="field">
                        <label class="medium" for="end_date"><i class="fa fa-clock-o"></i>&nbsp;Start Time : </label>
                        <input name="start_date" type="text" 
                        {% if items.edit == true %}
                            value={{ items.task.taskStartTime }}
                        {% endif %}>
                    </div>
                    <div class="field">
                        <label class="medium" for="end_date"><i class="fa fa-clock-o"></i>&nbsp;End Time : </label>
                        <input name="end_date" type="text" 
                        {% if items.edit == true %}
                            value={{ items.task.taskEndTime }}
                        {% endif %}>
                    </div>
                    <div class="field">
                        <textarea class="input textarea" placeholder="Notes" name="description">{% if items.edit == true %}{{ items.task.taskNotes }}{% endif %}</textarea>
                        
                    </div>
                        
                    <div class="field append">
                        <input class="input first-child" type="text" placeholder="Location" name="location" 
                        {% if items.edit == true %}
                            value= {{ items.task.taskLocation }}
                        {% endif %}/>
                        <span class="adjoined"><i class="fa fa-map-marker"></i></span>
                    </div>
                </form>
                
            </section>
        </div>
    </div>
    
{% include 'foot.html' %}