{% include 'head.html' %}

    <div class="row">
        <div class="eight columns centered">
            <div class="warnings" style="margin-top: 20px;"></div>
            <section class="list" id="notification-list">
                <ul>
                    
                    
                    
                </ul>
            </section>
    
    <script src={{ resolvePath("native5.core.js") }} ></script>
    <script src={{ resolvePath("smart-list.js") }} ></script>
    <script src={{ resolvePath("notifications.js") }} ></script>
    
{% include 'foot.html' %}