{% include 'head.html' %}
{% include 'header.html' %}
    <div id="page-wrap">

    <div class="row">
        <div class="eight columns centered">
            <section class="list" id="notification-list">
                <ul>
                    
                    
                    
                </ul>
            </section>
        </div>
    </div>
    
    <script src={{ resolvePath("native5.core.js") }} ></script>
    <script src={{ resolvePath("native5.notifications.js") }} ></script>
    <script src={{ resolvePath("smart-list.js") }} ></script>
    <script src={{ resolvePath("notifications.js") }} ></script>
    
    <script>
        $(document).ready(function(e) {
            
            var headerHandler = function(data) {
                $('#header > .wrapper').append(data.message.header_options);
                $('#headertitle').text(data.message.header_data.title);
                $('.headeremail').text(data.message.header_data.email);
                $('#headername').text(data.message.header_data.name);
                $('#headerimage').attr({'src' : data.message.header_data.image});
            };
            
            var headerLoader = app.construct({
                path : 'timesheet',
                method : 'POST',
                url : 'headerdata',
                successHandler : headerHandler
            });
            
            headerLoader.serviceObject.invoke({for: 'notifications'});
            
        });
    </script>
    
{% include 'foot.html' %}