{% include 'head.html' %}

    <div class="row">
        <ul class="timesheet">
            
            <li class="timesheet-item" style="border-left: 4px solid green;">
                <div class="wrapper">
                    <div class="name-status">
                        <div class="status-item">
                            <a href="details" class="project-details-link">Project a</a>
                        </div>
                        <div class="status-item">
                            <h6>Completed</h6>
                        </div>
                    </div>
                    <div class="detail">
                        <p class="about small">
                            Application Widget Development
                        </p>
                        <p class="time-alloted small">
                            <span>Time Alloted : </span>
                            01 Months 00 Days 00 Hours 00 Minutes
                        </p>
                    </div>
                </div>
            </li>
            
            <li class="timesheet-item" style="border-left: 4px solid red;">
                <div class="wrapper">
                    <div class="name-status">
                        <div class="status-item">
                            <a href="">Project b</a>
                        </div>
                        <div class="status-item">
                            <h6>Completed</h6>
                        </div>
                    </div>
                    <div class="detail">
                        <p class="about small">
                            Application Widget Development
                        </p>
                        <p class="time-alloted small">
                            <span>Time Alloted : </span>
                            01 Months 00 Days 00 Hours 00 Minutes
                        </p>
                    </div>
                </div>
            </li>
            
            <li class="timesheet-item" style="border-left: 4px solid yellow;">
                <div class="wrapper">
                    <div class="name-status">
                        <div class="status-item">
                            <a href="">Project c</a>
                        </div>
                        <div class="status-item">
                            <h6>Not Started</h6>
                        </div>
                    </div>
                    <div class="detail">
                        <p class="about small">
                            Application Widget Development
                        </p>
                        <p class="time-alloted small">
                            <span>Time Alloted : </span>
                            01 Months 00 Days 00 Hours 00 Minutes
                        </p>
                    </div>
                </div>
            </li>
            
            <li class="timesheet-item" style="border-left: 4px solid green;">
                <div class="wrapper">
                    <div class="name-status">
                        <div class="status-item">
                            <a href="">Project d</a>
                        </div>
                        <div class="status-item">
                            <h6>In Progress</h6>
                        </div>
                    </div>
                    <div class="detail">
                        <p class="about small">
                            Application Widget Development
                        </p>
                        <p class="time-alloted small">
                            <span>Time Alloted : </span>
                            01 Months 00 Days 00 Hours 00 Minutes
                        </p>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
    
{% include 'foot.html' %}