{% include 'head.html' %}

    <div class="row">
        <div class="eight columns centered">
            <input type="hidden" id="url" project-details-path={{ resolvePath("project\\details") }}>
            <section class="list" id="projects-list">
                <ul>
                    
                    
                    
                </ul>
            </section>
        </div>
    </div>
    
    <script src={{ resolvePath("native5.core.js") }} ></script>
    <script src={{ resolvePath("smart-list.js") }} ></script>
    <script src={{ resolvePath("projectssearch.js") }} ></script>
    
{% include 'foot.html' %}