{% include 'head.html' %}
{% include 'header.html' %}
    <div id="page-wrap">

    <div class="row">
        <div class="eight columns centered">
            <section class="project-details">
                <div class="title">
                    <h5><span id="projectname"></span></h5>
                </div>
                <div class="wrapper">
                <div class="messages">
                </div>
                    <div class="overview" style="margin-bottom: 10px;">
                        
                        <table>
                            <tbody>
                                <tr>
                                    <td>Total Time</td>
                                    <td><span id="totaltime"></span> hours</td>
                                </tr>
                                    <tr>
                                        <td>Total Salary</td>
                                        <td><span id="totalsalary"></span>$</td>
                                    </tr>
                                    <tr>
                                        <td>Pause Time</td>
                                        <td><span id="pausetime"></span> hours</td>
                                    </tr>
                                <tr>
                                    <td>Expenses</td>
                                    <td><spn id="expenses"></spn>$</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="details" style="margin-bottom: 10px;">
                        <h6>Details</h6>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Employer</td>
                                    <td>
                                    <a href={{ "profile\\view" | nonce ~ "&id=" ~ items.project_details.projectManagerId }}>
                                    <span id="employername"></span></a></td>
                                </tr>
                                <tr>
                                    <td>Created</td>
                                    <td><span id="createddate"></span></td>
                                </tr>
                                <tr>
                                    <td>Deadline</td>
                                    <td><span id="deadline"></span></td>
                                </tr>
                                <tr>
                                    <td>Salary/hr</td>
                                    <td><span id="salary"></span>$</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td><span id="state"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="description">
                            <h6>Description</h6>
                            <p style="font-size: 14px; padding: 0 6px;"><span id="description"></span></p>
                        </div>
                    </div>
                </div>
                
            </section>
        </div>
    </div>
    
    <div id="edit-inline-menu" class="inline-menu hidden">
        <ul>
            
        </ul>
    </div>
    
    <script>
        $(document).ready(function (e) {
            
            function getJsonFromUrl() {
                var query = location.search.substr(1);
                var data = query.split("&");
                var result = {};
                for(var i=0; i<data.length; i++) {
                    var item = data[i].split("=");
                    result[item[0]] = item[1];
                }
                return result;
            }
            
            var successHandler = function(data) {
                console.log(data);
                $('#edit-inline-menu > ul').append(data.message.inlinemenu);
                
                $('#projectname').text(data.message.project_details.projectName);
                $('#totaltime').text(data.message.total_time);
                $('#totalsalary').text(data.message.total_salary);
                $('#pausetime').text(data.message.pause_time);
                $('#expenses').text(data.message.expenses);
                $('#employername').text(data.message.employer_name);
                $('#createddate').text(data.message.project_details.prettyCreatedDate);
                $('#deadline').text(data.message.project_details.prettyDeadline);
                $('#salary').text(data.message.project_details.projectSalary);
                $('#state').text(data.message.project_details.readableProjectState);
                $('#description').text(data.message.project_details.projectDescription);
                
            };
            
            var communicator = app.construct({
                path : 'timesheet',
                method : 'POST',
                url : 'project/details_data',
                successHandler : successHandler
            });
            
            var params = getJsonFromUrl();
            var projectId = params['id'];
            
            communicator.serviceObject.invoke({id: projectId});
            
            var headerHandler = function(data) {
                $('#header > .wrapper').append(data.message.header_options);
                $('#headertitle').text(data.message.header_data.title);
                $('.headeremail').text(data.message.header_data.email);
                $('#headername').text(data.message.header_data.name);
                $('#headerimage').attr({'src' : data.message.header_data.image});
            };
            
            var headerLoader = app.construct({
                path : 'timesheet',
                method : 'POST',
                url : 'headerdata',
                successHandler : headerHandler
            });
            
            headerLoader.serviceObject.invoke({for: 'project/details', project_id: projectId});
            
        });
    </script>
    
{% include 'foot.html' %}