{% include 'head.html' %}

    <div class="row">
        <section class="project-details">
            <div class="title">
                <h5>Project a</h5>
            </div>
            <div class="wrapper">
                <div class="overview">
                    <table>
                        <thead>
                            <tr>
                                <th>Total Time</th>
                                <th>Total Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01h 02m</td>
                                <td>2500$</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>Pause Time</th>
                                <th>Expenses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>00h 02m</td>
                                <td>500$</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="details">
                    <h6>Details</h6>
                    <table>
                        <tbody>
                            <tr>
                                <td>Employer</td>
                                <td>Mr. X</td>
                            </tr>
                            <tr>
                                <td>Location</td>
                                <td>Unknown Location</td>
                            </tr>
                            <tr>
                                <td>Salary/hr</td>
                                <td>100$</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>In Progress</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="description">
                        <h6>Description</h6>
                        <p style="font-size: 14px; padding: 0 6px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, amet, dolorem corporis minus quam ab sed vel assumenda quo repudiandae fuga accusamus delectus consequatur id voluptate est a similique ad!</p>
                    </div>
                </div>
            </div>
            
            {% if items.is_employee == true %}
            
                <div id="timer-control" style="text-align: center; margin-bottom: 30px;">
                    <div class="medium primary btn">
                        <a href={{ resolvePath("timer") }} id="timer-button">Start a New Timesheet</a>
                    </div>
                </div>
            
            {% endif %}
            {% if items.is_admin == true %}
            
                <div id="admin-control" style="text-align: center; margin-bottom: 30px;">
                    <div class="medium primary btn">
                        <a href={{ resolvePath("project\\add_users") }} id="add-user-button">Add Users</a>
                    </div>
                </div>
                
            {% endif %}
            
        </section>
    </div>
    
{% include 'foot.html' %}