{% include 'head.html' %}

    <div class="row">
        <div class="six columns centered">
            <section class="projects-list">
                <ul>
                    <li class="project-list-item" style="border-left: 4px solid green;">
                        <div class="wrapper">
                            <table>
                                <tr>
                                    <td><h5 class="no-padding"><a href="details" class="project-details-link">Project a</a></h5></td>
                                    <td><p class="right normal">Completed</p></td>
                                </tr>
                            </table>
                            <div class="detail">
                                <p class="about small">Application Widget Development</p>
                                <p class="time-alloted small">
                                <span>Time Alloted : </span>
                                01 Months 00 Days 00 Hours 00 Minutes</p>
                            </div>
                        </div>
                    </li>
                    <li class="project-list-item" style="border-left: 4px solid red;">
                        <div class="wrapper">
                            <table>
                                <tr>
                                    <td>
                                        <h5 class="no-padding"><a href="" class="project-details-link">Project b</a></h5>
                                    </td>
                                    <td>
                                        <p class="right normal">Completed</p>
                                    </td>
                                </tr>
                            </table>
                            <div class="detail">
                                <p class="about small">Application Widget Development</p>
                                <p class="time-alloted small">
                                <span>Time Alloted : </span>
                                01 Months 00 Days 00 Hours 00 Minutes</p>
                            </div>
                        </div>
                    </li>
                    <li class="project-list-item" style="border-left: 4px solid yellow;">
                        <div class="wrapper">
                            <table>
                                <tr>
                                    <td>
                                        <h5 class="no-padding"><a href="" class="project-details-link">Project c</a></h5>
                                    </td>
                                    <td>
                                        <p class="right normal">In Progress</p>
                                    </td>
                                </tr>
                            </table>
                            <div class="detail">
                                <p class="about small">Application Widget Development</p>
                                <p class="time-alloted small">
                                <span>Time Alloted : </span>
                                01 Months 00 Days 00 Hours 00 Minutes</p>
                            </div>
                        </div>
                    </li>
                    <li class="project-list-item" style="border-left: 4px solid green;">
                        <div class="wrapper">
                            <table>
                                <tr>
                                    <td>
                                        <h5 class="no-padding"><a href="" class="project-details-link">Project d</a></h5>
                                    </td>
                                    <td>
                                        <p class="right normal">Not Started</p>
                                    </td>
                                </tr>
                            </table>
                            <div class="detail">
                                <p class="about small">Application Widget Development</p>
                                <p class="time-alloted small">
                                <span>Time Alloted : </span>
                                01 Months 00 Days 00 Hours 00 Minutes</p>
                            </div>
                        </div>
                    </li>              
                </ul>
            </section>
        </div>
    </div>
    
{% include 'foot.html' %}