{% include 'head.html' %}
    
    <div class="row">
        <div class="eight columns centered">
            <input type="hidden" id="details-url" task-details-path={{ resolvePath("timesheets\\task_details") }}>
            <input type="hidden" id="add-task-url" task-details-path={{ resolvePath("timesheets\\new_task") }}>
            <input type="hidden" id="project_id" name="project_id" value="{{ items.project_id }}">
            <input type="hidden" id="timesheet_id" name="timesheet_id" value="{{ items.timesheet_id }}">
            <section class="add-timesheet">
                
                <div class="title">
                    <h5 style="border-bottom: 0;">{{ items.title }}</h5>
                </div>
                <h6 style="padding-bottom: 0.7rem; text-align: center; font-weight: bold;">{{ items.project_name }}</h6>
                    <div class="warnings"></div>
                    
                    <table class="summary">
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in items.tasks %}
                                <tr class="task-details" id={{ task.taskId }}>
                                    <td>{{ task.taskName }}</td>
                                    <td>{{ task.taskWorkTime }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
            </section>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            
            $(document).on('click', 'tr.task-details', function(e) {
                e.preventDefault();
                var url = $('input#details-url').attr('task-details-path') + '?id=' + $(this).attr('id');
                window.location.href = url;
            });
            
            $(document).on('click', 'div#add-task', function(e) {
                e.preventDefault();
                var url = $('input#add-task-url').attr('task-details-path') + '?old_timesheet_id=' + $('input#timesheet_id').attr('value'); 
                url += '&project_id=' + $('input#project_id').attr('value') + '&from_timesheet_details_page=true';
                window.location.href = url;
            });
            
        });
    </script>
    
{% include 'foot.html' %}