{% include 'head.html' %}
{% include 'header.html' %}
    <div id="page-wrap">
    
    <div class="row">
        <div class="eight columns centered">
            <input type="hidden" id="details-url" task-details-path={{ "timesheets\\task_details" | nonce }}>
            <input type="hidden" id="add-task-url" task-details-path={{ "timesheets\\new_task" | nonce }}>
            <input type="hidden" id="project_id" name="project_id" value="{{ items.project_id }}">
            <input type="hidden" id="timesheet_id" name="timesheet_id" value="{{ items.timesheet_id }}">
            <section class="add-timesheet">
                
                <h6 style="padding-bottom: 0.7rem; text-align: center; font-weight: bold;">{{ items.project_name }}</h6>
                    <div class="warnings"></div>
                    
                    <table class="summary">
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
						<tbody>
                        </tbody>
                    </table>
                    
            </section>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            
            function getJsonFromUrl() {
                var query = location.search.substr(1);
                var data = query.split("&");
                var result = {};
                for(var i=0; i<data.length; i++) {
                    var item = data[i].split("=");
                    result[item[0]] = item[1];
                }
                return result;
            }
            
            var successHandler = function(data) {
                console.log(data);
                
                $.each(data.message.tasks, function(index, value) {
                    var listItem = '';
                    listItem += '<tr class="task-details" id=' + value.taskId + '>';
                    listItem += '<td>' + value.taskName + '</td>';
                    listItem += '<td>' + value.prettyWorkTime + '</td>';
                    listItem += '</tr>';
                    $('table.summary > tbody').append(listItem);
                });
                
            };
            
            var communicator = app.construct({
                path : 'timesheet',
                method : 'POST',
                url : 'timesheets/details_data',
                successHandler : successHandler
            });
            
            var result = getJsonFromUrl();
            var id = result['id'];
            communicator.serviceObject.invoke({id: id});
            
            $(document).hammer().on('tap', 'tr.task-details', function(e) {
                e.preventDefault();
                var url = $('input#details-url').attr('task-details-path') + '&id=' + $(this).attr('id');
                window.location.href = url;
            });
            
            $(document).hammer().on('tap', 'div#add-task', function(e) {
                e.preventDefault();
                window.location.href = $('input#add-task-url').attr('task-details-path') + '&old_timesheet_id=' + $('input#timesheet_id').attr('value') + '&project_id=' + $('input#project_id').attr('value') + '&from_timesheet_details_page=true';
            });
            
            var headerHandler = function(data) {
                $('#header > .wrapper').append(data.message.header_options);
            };
            
            var headerLoader = app.construct({
                path : 'timesheet',
                method : 'POST',
                url : 'headerdata',
                successHandler : headerHandler
            });
            
            headerLoader.serviceObject.invoke({for: 'timesheets/details', timesheet_id: id});
            
        });
    </script>
    
{% include 'foot.html' %}