
{% include 'head.html' %}
{% include 'header.html' %}
    <div id="page-wrap">
    
    <div class="row">
        <div class="eight columns centered">
            <section class="task-details">
                <div class="warnings">
                </div>
                
                <div class="title">
                    <h5>
                        Details of <span class="taskName"></span>
                    </h5>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>Task Name</td>
                            <td><span class="taskName"></span></td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td><span id="author"></span></td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td><span id="startTime"></span></td>
                        </tr>
                        <tr>
                            <td>End Time</td>
                            <td><span id="endTime"></span></td>
                        </tr>
                        <tr>
                            <td>Work Time</td>
                            <td><span id="workTime"></span></td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td><span id="location"></span></td>
                        </tr>
    
                        <tr>
                            <td>Status</td>
                            <td><span id="status"></span></td>
                        </tr>
                        
                    </tbody>
                </table>
                <div class="notes">
                    <h5 style="margin-bottom: 10px;">Notes</h5>
                    <p><span id="notes"></span></p>
                </div>
            </section>
        </div>
    </div>
            
    <div class="task-options" style="text-align: center; display: none; padding-bottom: 20px;">
        <div class="medium secondary btn">
            <a href="#" mark="1" class="mark">
            <i class="fa fa-check"></i>&nbsp;Accept</a>
        </div>
        <div class="medium danger btn">
            <a href="#" mark="2" class="mark">
            <i class="fa fa-times"></i>&nbsp;Reject</a>
        </div>
    </div> 
    
    <script>
        $(document).ready(function (e) {
            
            var headerHandler = function(data) {
                $('#header > .wrapper').append(data.message.header_options);
            };
            
            var headerLoader = app.construct({
                path : 'timesheet',
                method : 'POST',
                url : 'headerdata',
                successHandler : headerHandler
            });
            
            headerLoader.serviceObject.invoke({for: 'timesheets/task_details'});
            
            function getJsonFromUrl() {
                var query = location.search.substr(1);
                var data = query.split("&");
                var result = {};
                for(var i=0; i<data.length; i++) {
                    var item = data[i].split("=");
                    result[item[0]] = item[1];
                }
                return result;
            }
            var result = getJsonFromUrl();
            
            var successHandler = function(data) {
                console.log(data);
                
                if(data.message.success == true) {
                    console.log('Marked');
                    
                    var status;
                    if (data.message.marked == 1) {
                        status = '<i class="fa fa-check-circle" style="color: #00A388;"></i>&nbsp;Accepted';
                    } else if (data.message.marked == 2) {
                        status = '<i class="fa fa-times-circle" style="color: #FF6F69;"></i>&nbsp;Rejected';
                    }
                    $('#status').html(status);
                    $('.task-options').css({'display' : 'none'});
                    
                    return;
                } else if(data.message.success == false) {
                    console.log('Not Marked');
                    return;
                }
                
                $('#author').text(data.message.author);
                $('.taskName').text(data.message.task.taskName);
                $('#startTime').text(data.message.task.prettyStartTime);
                $('#endTime').text(data.message.task.prettyEndTime);
                $('#workTime').text(data.message.task.prettyWorkTime);
                $('#location').text(data.message.task.taskLocation);
                $('#notes').text(data.message.task.taskNotes);
                
                var status;
                if(data.message.task.taskStatus == 0) {
                    status = '<i class="fa fa-circle" style="color: #FFCC5C;"></i>&nbsp;Not Checked';
                } else if (data.message.task.taskStatus == 1) {
                    status = '<i class="fa fa-check-circle" style="color: #00A388;"></i>&nbsp;Accepted';
                } else if (data.message.task.taskStatus == 2) {
                    status = '<i class="fa fa-times-circle" style="color: #FF6F69;"></i>&nbsp;Rejected';
                }
                
                $('#status').html(status);
                
                if(data.message.task.taskStatus == 0 && data.message.is_admin == true) {
                    $('.task-options').css({'display' : 'block'});
                }
                
            };
            
            var id = result['id'];
            var communicator = app.construct({
                path : 'timesheet',
                method : 'POST',
                url : 'timesheets/task_details_data',
                successHandler : successHandler
            });
            
            $(document).hammer().on('tap', 'a.mark', function(e) {
                e.preventDefault();
                communicator.serviceObject.invoke({id: id, mark: $(this).attr('mark')});
                return false;
            });
            
            communicator.serviceObject.invoke({id: id});
            
        });
    </script>
    
{% include 'foot.html' %}