{% include 'head.html' %}
{% include 'header.html' %}
    <div id="page-wrap">

    <div class="row">
        <div class="six columns centered card">
            <div class="timer">
                <div class="flip-counter clock">
                    <div class="duration">
                        <div class="inn" id="hour">00</div>
                    </div>
                    <div class="duration">
                        <div class="inn" id="minute">00</div>
                    </div>
                </div>
            </div>
            <section class="timer">
                <div class="title" style="text-align:center;"><h4>{{ items.title }}</h4></div>
                <p class="about">New Task for {{ items.title }}</p>
                <p class="instruction">Click <span>Start</span> to start working on this project 
                or <span>Add</span> to add an old Task from top.</p>
                <div class="start-button-container" style="margin-top: 1rem;">
                    <div class="medium warning btn disabled">
                        <a href="#" id="pause-button">Pause</a>
                    </div>
                    <div class="medium secondary btn">
                        <a href="#" id="start-button" class="stopped">Start</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    <form action="" method="post" id="timer">
        <input type="hidden" id="project_id" name="project_id" value="" />
        <input type="hidden" id="work_time" name="work_time" value="" />
        <input type="hidden" id="start_time" name="start_time" value="" />
        <input type="hidden" id="end_time" name="end_time" value="" />
    </form>
    
    <script src={{ resolvePath("smart-list.js") }} ></script>
    <script src={{ resolvePath("timer.js") }} ></script>

{% include 'foot.html' %}