{% include 'head.html' %}

    <div class="row">
        <section class="timesheet-details">
            <div class="title">
                <h5>Timesheet Details for Project a</h5>
            </div>
            
            <div class="details">
                <h6>Details</h6>
                <table>
                    <tbody>
                        <tr>
                            <td>Task</td>
                            <td>Task a</td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td>15 Jan, 11:00 AM</td>
                        </tr>
                        <tr>
                            <td>End Time</td>
                            <td>16 Jan, 01:00 PM</td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>Unknown</td>
                        </tr>
                    </tbody>
                </table>
                <div class="description">
                    <h6>Description</h6>
                    <p style="font-size: 14px; padding: 0 6px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, amet, dolorem corporis minus quam ab sed vel assumenda quo repudiandae fuga accusamus delectus consequatur id voluptate est a similique ad!</p>
                </div>
            </div>
            <div id="timesheet-control" style="margin-bottom: 30px;">
                <form action={{ resolvePath("addsheet") }} method="post">
                    <input type="hidden" name="timesheetId" value="12" />
                    <table border="0" style="margin-top: 40px;">
                        <tr>
                            <td style="">
                                <div class="medium secondary btn">
                                    <a href = "#" id="edit-button">Edit Timesheet</a>
                                </div>
                            </td>
                            <td style="text-align: right;">
                                <div class="medium danger btn">
                                    <a href="timesheets\\delete_timesheet" id="delete-button">Delete Timesheet</a>
                                </div>
                            </td>
                        </tr>
                    </table>    
                </form>
            </div>
        </section>
    </div>
    
    <script>
        $(document).ready(function() {
            $('#edit-button').click(function() {
                $(this).closest('form').submit();
            });
        });
    </script>
    
{% include 'foot.html' %}