{% include 'head.html' %}
    
    <div class="row">
        <div class="eight columns centered">
            <input type="hidden" id="url" timesheet-details-path={{ resolvePath("timesheets\\details") }}>
            <section class="overview">
            
                <div class="title">
                    <h5>Timesheets</h5>
                </div>
                
                <div id="timesheet-list" class="empty-list">
                    
                </div>
                
            </section>
            
        </div>
    </div>
    
    <div style="padding: 10px; text-align: center;">
        <div class="medium primary btn" id="load-more">
            <a href={{ resolvePath("profile\\edit_profile") }} style="font-size: 14px;" >Load More</a>
        </div>
    </div>
    
    <script src={{ resolvePath("native5.core.js") }} ></script>
    <script src={{ resolvePath("native5.notifications.js") }} ></script>
    <script src={{ resolvePath("smart-list.js") }} ></script>
    <script src={{ resolvePath("timesheetsearch.js") }} ></script>
    
{% include 'foot.html' %}