{% include 'head.html' %}
    
    <div class="row">
        <div class="six columns centered card">
            
            <section class="overview">
            
                <h6>Timesheets</h6>
                <div class="day">
                    <table border="0">
                        <tr class="head-row">
                            <td>
                               <p class="day-name"><span>Week 3: </span>January 2014</p> 
                            </td>
                            <td class="add">
                                <i class="fa fa-plus"></i>
                            </td>
                        </tr>
                    </table>
                    <table border="0" class="timesheets-for-day">
                        <tr class="item-row">
                            <td>
                                <p>Project a</p>
                            </td>
                            <td>
                                <p>12:05:52</p>
                            </td>
                        </tr>
                        <tr class="item-row">
                            <td>
                                <p>Project b</p>
                            </td>
                            <td>
                                <p>0:02:12</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="day">
                    <table border="0">
                        <tr class="head-row">
                            <td>
                               <p class="day-name"><span>Week 2: </span> January 2014</p> 
                            </td>
                            <td class="add">
                                <i class="fa fa-plus"></i>
                            </td>
                        </tr>
                    </table>
                    <table border="0" class="timesheets-for-day">
                        <tr class="item-row">
                            <td>
                                <p>Project b</p>
                            </td>
                            <td>
                                <p>0:08:02</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="day">
                    <table border="0">
                        <tr class="head-row">
                            <td>
                               <p class="day-name"><span>Week 1: </span>January 2014</p> 
                            </td>
                            <td class="add">
                                <i class="fa fa-plus"></i>
                            </td>
                        </tr>
                    </table>
                    <table border="0" class="timesheets-for-day">
                        <tr class="item-row">
                            <td>
                                <p>Project c</p>
                            </td>
                            <td>
                                <p>0:21:34</p>
                            </td>
                        </tr>
                        <tr class="item-row">
                            <td>
                                <p>Project d</p>
                            </td>
                            <td>
                                <p>0:02:00</p>
                            </td>
                        </tr>
                        <tr class="item-row">
                            <td>
                                <p>Project a</p>
                            </td>
                            <td>
                                <p>0:01:02</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </div>
    
    <script src={{ resolvePath("native5.core.js") }} ></script>
    <script src={{ resolvePath("timesheetsearch.js") }} ></script>
    
{% include 'foot.html' %}