{% include 'head.html' %}

    <div class="row">
        <div class="six columns centered card">
            <div class="timer">
                <div class="flip-counter clock">
                    <div class="duration">
                        <div class="inn" id="hour">00</div>
                    </div>
                    <div class="duration">
                        <div class="inn" id="minute">00</div>
                    </div>
                </div>
            </div>
            <section class="timer">
                <div class="title" style="text-align:center;"><h4>{{ items.title }}</h4></div>
                <p class="about">New Task for {{ items.title }}</p>
                <p class="instruction">Click <span>Start</span> to start working on this project 
                or <span>Add Task</span> to add an old Task from options.</p>
               <!-- <div class="start-button-container" style="margin-top: 1rem;">
                    <div class="medium warning btn disabled">
                        <a href="#" id="pause-button">Pause</a>
                    </div>
                    <div class="medium secondary btn">
                        <a href="#" id="start-button" class="stopped">Start</a>
                    </div>
                </div>-->
                <div class="controls">
                    <span id="timer-button" class="icon-play paused"></span>
                </div>
            </section>
        </div>
    </div>
    
    <div id="options" style="display: none;">
        <li><a href={{ "timesheets\\new_task" | nonce ~ "&project_id=" ~ items.project_id }}>Add Task</a></li>
        <li><a href="#" onclick="return false;" id="submit">Submit</a></li>
    </div>
    
    <form action={{ "timesheets\\new_task" | nonce }} method="post">
        <input type="hidden" id="project_id" name="project_id" value="{{ items.project_id }}" />
        <input type="hidden" id="work_time" name="work_time" value="" />
        <input type="hidden" id="start_time" name="start_time" value="" />
        <input type="hidden" id="end_time" name="end_time" value="" />
    </form>
    
    <script src={{ resolvePath("timer.js") }} ></script>

{% include 'foot.html' %}