@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/css3/user-interface";
@import "compass/css3/text-shadow";

$slate-grey: #404040;
$button-color: rgb(21, 125, 251);
$border-grey: #E8E8E8;
$link-color: #B1B1B1;
$body-color: #f1f1f1;
$corvoda-blue: #4cc2e4;

$orange : #FFCC5C;
$red : #FF6F69;
$blue : #77C4D3;
$pahdera-green: #00A388;
$gumby-blue: #3085d6;

$sidebar-width: 80%;
$sidebar-width-large: 340px;

$snap-animation : cubic-bezier(0.785, 0.135, 0.150, 0.860);

@mixin snap-animation($time) {
    -webkit-transition: all $time $snap-animation;
    -moz-transition: all $time $snap-animation;
    -o-transition: all $time $snap-animation;
    transition: all $time $snap-animation;
}

@mixin card-shadow() {
    @include respond(tablets) { 
        @include single-box-shadow(rgba(darken($border-grey, 60%), 0.1), 0px, 0px, 8px, 2px, false);
    }
    @include respond(desktop) { 
        @include single-box-shadow(rgba(darken($border-grey, 60%), 0.1), 0px, 0px, 8px, 2px, false);
    }
}

ul {
    margin-bottom: 0!important;
}

// table resets

.btn {
    @include font-size(14px);
    @include box-shadow(inset 0 -2px rgba(0,0,0,0.1),0 1px rgba(0,0,0,0.05));
    @include border-radius(2px);
    font-weight: 300;
}
.btn:active {
    @include box-shadow(inset 0 0px rgba(0,0,0,0),0 0px rgba(0,0,0,0));
}

.btn.disabled {
    background: #ECECEC!important;
    border: 1px solid #BEBEBE!important;
    cursor: default;
    a {
        cursor: not-allowed;
        @include user-select(none);
    }
}

table {
    border: 0;
    margin: 0;
    background-color: inherit;
    tr td {
        border: 0!important;
        vertical-align: middle;
    }
}

// Start

body {
    background: $body-color;
}

#header, body {
}

li {
    list-style: none!important;
}

section {
    margin: 5% 0;
    @include card-shadow();
    position: relative;
    padding: 10px;
    background: white;
    label {
        margin-right: 10px; 
        margin-left: 4px;
        margin-bottom: 4px;
        color: darken($border-grey, 20%);
    }
    margin-bottom: 10px;
    overflow: hidden;
    .title {
        margin-bottom: 10px;
        text-align: center;
        h5 {
            font-weight: bolder;
        }
    }
}

h5.no-padding {
    padding: 0;
}

h5.left-padding {
    padding-left: 10px;
}

@include respond(all-phones) {
    .input, .adjoined, .btn, p, td, th, a.small, input {
        font-size: 14px!important;
    }
}

img.image.round {
    @include border-radius(50%);
    margin: 0;
}

label.medium {
    font-size: 14px!important;
}

// inline menu

div.inline-menu-trigger {
    position: absolute;
    font-size: 14px;
    color: darken($border-grey, 15%);
    z-index: 100;
    top: 10px;
    right: 0px;
    i {
        padding: 0.4rem 0.8rem;
        cursor: pointer;
    }
}

div.inline-menu {
    position: absolute;
    width: 150px;
    background: inherit;
    z-index: 100;
    top: 10px;
    right: 28px;
    @include single-box-shadow(rgba(darken($border-grey, 60%), 0.1), 0px, 0px, 4px, 1px, false);
    ul {
        margin-bottom: 0;
        li {
            padding: 0px;
            border-bottom: 1px solid #f1f1f1;
            a {
                font-size: 14px!important;
                display: block;
                padding: 2px 10px;
            }
        }
        li:last-child {
            border: 0;
        }
    }
}

div.inline-menu.hidden {
    display: none;
    z-index: -200;
}

// inline menu anim

/* move from / to  */

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(80%); opacity: 0; }
}
@-moz-keyframes moveFromRight {
	from { -moz-transform: translateX(80%); opacity: 0; }
}
@keyframes moveFromRight {
	from { transform: translateX(80%); opacity: 0; }
}
/* move from / to  */

div.inline-menu {
	-webkit-animation: moveFromRight .2s $snap-animation both;
	-moz-animation: moveFromRight .2s $snap-animation both;
	animation: moveFromRight .2s $snap-animation both;
}

section.new-profile {
    
    border-top: 4px solid $pahdera-green;
}

// edit profile

section.edit-profile {
    
    border-top: 4px solid $orange;
}

// new project

section.new-project {
    
    border-top: 4px solid $pahdera-green;
    input {
        border: 1px solid #d8d8d8;
        padding: 6px 10px;
        @include border-radius(4px);
        margin-bottom: 6px;
    }
}

// add users to project

section.search-section {
    
    border-top: 4px solid $pahdera-green;
    
}

// add timesheet

section.add-timesheet {
    
    border-top: 4px solid $gumby-blue;
    .field.inline > * {
        display: inline-block;
        width: auto;
        vertical-align: text-bottom;
    }
    input {
        border: 1px solid #d8d8d8;
        padding: 6px 10px;
        @include border-radius(4px);
        margin-bottom: 6px;
    }
}

// projects list, notifications list, messages list

section.projects-list, section.notifications-list, section.message-list, section.list {
    
    padding: 0;
    ul.empty-list:before {
        content: "NONE";
        padding-left: 10px;
    }
    li.project-list-item, li.notifications-list-item, li.message-list-item, li.list-item {
        padding: 0;
        .wrapper {
            padding: 1rem;
            border-bottom: 1px solid $border-grey;
            table.content-heading, table  {
                //margin-bottom: 10px;
                td {
                    padding: 0;
                }
            }
            .detail {
                .time-alloted {
                    span {
                        font-weight: bolder;
                    }
                    color: darken($border-grey, 20%);
                }
            }
        }
    }
    li.list-item {
        .check-input {
            text-align: right;
        }
    }
    li.message-list-item {
        p.date {
            color: darken($border-grey, 20%);
        }
        p.snippet {
            @include hidden(portrait-phones);
        }
        .content-heading img.image.round {
        }
    }
    li.notifications-list-item {
        table {
            td {
                padding: 0;
            }
        }
        .status i {
            font-size: 16px;
        }
        .status i.fa-check-circle {
            color: rgb(110, 201, 110);
        }
        .status i.fa-exclamation-circle {
            color: rgb(223, 110, 110);
        }
        .time {
            color: darken($border-grey, 20%);
        }
    }
}

// dashboard

@media (max-width: 769px) and (min-width: 500px) {
    .card.columns {
        width: 70%!important;
        margin: 0 auto!important;
        float: none!important;
    }
}

section.dashboard {
    
    //padding: 0 0 10px 0;
    padding: 10px 0;
    border-top: 4px solid $orange;
    .display-picture {
        text-align: center;
        .image {
            @include border-radius(50%);
            width: 100px;
            margin-bottom: 0px;
        }
    }
    .details {
        text-align: center;
        p {
            font-size: 12px;
            color: darken($border-grey, 20%);
            text-align: center;
        }
    }
    .stats {
        padding: 10px 0;
        td {
            border: 1px solid $border-grey!important;
            width: 33.3333%;
            p {
                text-align: center;
            }
            
            p.time {
                font-weight: bold;
            }
            p.type {
                font-size: 12px;
            }
        }
        td:first-child {
            border-left: 0!important;
            padding: 10px 10px 10px 0px;
        }
        td:last-child {
            border-right: 0!important;
            padding: 10px 0px 10px 10px;
        }
    }
	.options {
		.notifications {
			@include user-select(none);
			position: absolute;
			right: -8px;
			top: -10px;
			background: #FF6F42;
			color: white;
			padding: 2px 8px;
			font-size: 10px;
            @include border-radius(50%);
			@include single-box-shadow(rgba(darken($border-grey, 60%), 0.2), 0px, 0px, 1px, 1px, false);
		}
	}
}

// timesheet details

section.timesheet-details {
    
    border-top: 4px solid $gumby-blue;
    h6 {
        color: darken($border-grey, 20%);
        font-weight: bolder;
        border-bottom: 1px solid $border-grey;
        margin-bottom: 10px;
        padding-left: 5px;
    }
    td, th {
        padding: 6px;
    }
}

// project details

section.project-details {
    
    border-top: 4px solid $gumby-blue;
    .wrapper {
        margin-bottom: 15px;
        h6 {
            color: darken($border-grey, 20%);
            font-weight: bolder;
            border-bottom: 1px solid $border-grey;
            margin-bottom: 10px;
            padding-left: 5px;
        }
        td, th {
            padding: 6px;
        }
    }
}

/*
// add past sheet

section.addsheet {
    
    border-top: 4px solid $orange;
    
    .title {
        margin-bottom: 10px;
        text-align: center;
        h5 {
            color: darken($border-grey, 20%);
            font-weight: bolder;
        }
    }
    
    #add-timesheet {
        .first-child {
            width: 60%;
        }
        .second-child {
            width: 40%;
        }
        
        @media screen and (min-width: 480px) {
            .first-child {
                width: 80%;
            }
            .second-child {
                width: 20%;
            }
        }
    }
    
    .duration-picker {
        @include user-select(none);
        .wrapper {
            text-align: center;
        }
    }
    .duration:nth-child(odd), .duration:nth-child(3) {
        margin-right: 20px;
    }
    .duration:nth-child(1), .duration:last-child {
        margin-right: 0px;
    }   
    .duration {
        margin-bottom: 30px;
        position: relative;
        display: inline-block;
        width: auto;
        .inc, .dec {
            font-size: 30px;
            padding: 0.6rem 1rem;
            background: #f1f1f1;
            cursor: pointer;
        }
        .dec {
            margin-top: 10px;
        }
        .inc {
            margin-bottom: 10px;
        }
        .inn {
            font-size: 60px;
            font-weight: bolder;
            line-height: 80px;
        }
    }
    .duration:nth-child(odd):after {
        content: ":";
        position: absolute;
        top: 50%;
        font-size: 40px;
        margin-top: -15px;
        right: -20px;
    }
    .duration:nth-child(1):after {
        content: "";
    }
    .duration:last-child:after {
        content: "";
    }
    
    @media screen and (max-width: 560px) {
        
        .duration:nth-child(odd):after {
            font-size: 25px;
            right: -10px;
        }
        .duration:nth-child(odd), .duration:nth-child(3) {
            margin-right: 10px;
        }
        .duration:last-child, .duration:nth-child(1) {
            margin-right: 0px;
        }  
        .duration {
            display: inline-block;
            width: auto;
            .inc, .dec {
                font-size: 16px;
                padding: 0rem 0.57rem;
                background: #f1f1f1;
            }
            .dec {
                margin-top: 10px;
            }
            .inc {
                margin-bottom: 10px;
            }
            .inn {
                font-size: 30px;
                font-weight: bolder;
                line-height: 40px;
            }
        }
    }
}
*/

// overview

section.overview {
    
    border-top: 4px solid $gumby-blue;
    h6 {
        color: darken($border-grey, 20%);
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }
    .day {
        margin-bottom: 3px;
        table {
            
        }
        tr.head-row {
            background: $gumby-blue;
            color: white;
            p.day-name {
                color: white;
                margin: 0;
                span {
                    font-weight: bold;
                }
            }
        }
        tr.item-row {
            border-bottom: 1px solid $border-grey;
            td:nth-child(even) p {
                text-align: right;
            }
        }
        td {
            padding: 6px;
        }
        td.add {
            text-align: right;
            i {
                cursor: pointer;
            }
        }
    }
}

// timer

div.timer {
    padding-bottom: 30px;
    text-align: center;
    .clock .duration {
        margin-right: 15px;
        position: relative;
        margin-top: 30px;
        display: inline-block;
        width: auto;
        .inn {
            font-size: 80px;
            line-height: 80px;
            font-weight: 100;
        }
    }
    .clock .duration:last-child {
        margin-right: 0px;
    }
    .clock .duration:after {
        position: absolute;
        content: ":";
        font-size: 60px;
        top: 22px;
        right: -18px;
    }
    .clock .duration:last-child:after {
        content: "";
    }
}

section.timer {
    padding-bottom: 20px;
    padding-top: 10px;
    border-top: 4px solid $pahdera-green;
    h4 {
        font-weight: 100;
        margin-bottom: 6px;
    }
    p.about {
        font-style: italic;
    }
    p.instruction {
        font-size: 12px;
        span {
            font-weight: bold;
        }
    }
    .start-button-container {
        text-align: center;
        a {
            font-weight: lighter;
        }
    }
}

// profile

/*
section.profile {
    margin: 15% 0;
    border-top: 4px solid $pahdera-green;
    p {
        @include font-size(12px);
        color: darken($border-grey, 20%);
    }
    .work {
        td {
            width: 33.3333%;
            .type {
               text-align: center;
            }
            .time {
                text-align: center;
                font-weight: bold;
            }
            @media screen and (min-width: 500px) {
                .time {
                   font-size: 22px
                }
            }
        }
    }
    .details {
        td {
            width: 50%;
            padding: 10px 0 10px 10px
        }
        .user-image {
            text-align: center;
            @include respond(portrait-phones) {
                text-align: left;
            }
            //text-align: center;
            .image {
                @include border-radius(50%);
            }
        }
    }
}
*/

// login

@media (max-width: 769px) and (min-width: 500px) {
    .login.columns {
        width: 80%!important;
        margin: 0 auto!important;
        float: none!important;
    }
}

.login-wrapper {
    .hello {
        text-align: center;
        margin: 1rem 0;
        h1 {
            padding: 0!important;
            color: $gumby-blue;
        }
    }
    .login-form {
        background: white;
        padding: 10px 20px;
        @include card-shadow();

        border-top: 4px solid $gumby-blue;
        h6 {
            text-align: center;
            margin-bottom: 10px;
            font-weight: normal;
            color: darken($border-grey, 20%);
        }
        
        .form-submit-button {
            text-align: center;
            a {
                font-weight: lighter;
            }
        }
    }
}

// timesheet

/*
.timesheet {
    @include single-box-shadow(rgba(darken($border-grey, 60%), 0.1), 0px, 0px, 8px, 2px, false);
}

li.timesheet-item {
    background: white;
    padding: 0!important;
    
    .wrapper { 
        padding: 1rem;
        border-right: 1px solid $border-grey;
        border-bottom: 1px solid $border-grey;
    }
    
    .name-status {
        .status-item {
            @include fancytiles(2,2,2);
        }
        .status-item:nth-child(odd) {
            a {
                font-size: 18px!important;
            }
        }
        .status-item:nth-child(even) {
            text-align: right;
            h6 {
                color: $gumby-blue;
            }
        }
    }
    .detail {
        p {
            span {
                font-weight: bolder;
            }
        }
        p.time-alloted {
            color: darken($border-grey, 20%);
        }
    }
}
*/

// Sidebar anim

#page-wrap.active {
}

#sidebar {    
    @include single-transition(transform, 0.3s, $snap-animation, 0s);
    overflow: hidden;
    background: $slate-grey;
    height: 100%;
    position: fixed;
    top: 58px;

    @include respond("min-width: 500px") {
        right: -$sidebar-width-large;
        width: $sidebar-width-large;
    }

    right: -$sidebar-width;
    width: $sidebar-width;

    .nav-wrapper {
        margin-top: 10px;
        overflow: auto;
        height: 100%;
        nav > ul {
            margin-bottom: 70px;
        }
        .user {
			margin-top: 15px;
            .user-image {
                padding: 0 0 0 10px;
                .image {
                    @include border-radius(50%);
                    margin: 0;
                }
            }
        
            h6, h5 {
                color: white;
            }
            p {
                @include font-size(12px);
                color: darken($border-grey, 5%);
            }
        }    
    
        li {
            border-bottom: 1px solid darken($border-grey, 70%);
            padding-bottom: 0;
        
            a {
                @include single-transition(all, 0.1s, ease-in-out, 0s);
                color: darken($border-grey, 5%);
                display: block;
                padding: 1rem;
                i {
                    @include font-size(14px);
                    padding-right: 1rem; 
                    width: 35px;
                }
            }
            a:hover {
                color: white;
                background: darken($slate-grey, 10%);
            }
        }
    
    }
}

#sidebar.active {
    @include translate3d(-100%, 0px, 0px, 500px);
}

// header
#header {
    @include user-select(none);
    z-index: 400;
	-webkit-box-shadow: 0px 0px 8px 1px rgba(50, 50, 50, 0.49);
	-moz-box-shadow:    0px 0px 8px 1px rgba(50, 50, 50, 0.49);
	box-shadow:         0px 0px 8px 1px rgba(50, 50, 50, 0.49);
    position: fixed;
    width: 100%;
    @include card-shadow();
    background: $slate-grey;
    //padding: 1rem 0;

    .header-item {
        display: inline-block;
        width: auto;
        color: white;
        padding: 1rem;
        .item {
            display: inline-block;
            vertical-align: top;
            i {
                font-size: 30px;
                cursor: pointer;
            }
        }
        .item.logo {
            margin-bottom: -10px;
        }
        .item.title {
            h5 {
                padding: 0;
                @include respond(all-phones) {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: block;
                    overflow: hidden;
                    width: 150px;
                }
				@include respond(portrait-phones) {
                    width: 100px;
				}
            }
        }
        h5 {
            color: white;
        }
    }
    .header-item:nth-child(even) {
        float: right;
        h5 {
            text-align: right;
            color: white;
        }
    }
    .trigger {
        cursor: pointer;
    }
	.trigger:active {
		@include box-shadow(inset 3px 0px 12px 4px rgba(50, 50, 50, 0.6));
	}
}

#page-wrap {
    padding-top: 62px;
}
